body {
    background: black;
    width: 100%;
  }
  
  .container {
    margin-top: 50px;
  }

  .student-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .student-pic {
    border-radius: 50%;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 200px; 
    height: 200px; 
    overflow: hidden;
  
  }
  .student-pic img {
    width: 100%; 
    height: auto; 
   
    
  }
  
  .student-tag {
    text-align: center;
    background: skyblue;
    border-radius: 25px;
    width:200px;
    height:40px;
    font-size: 25px;
  }

  h3 {
    color: white;
    font-size: 30px;
    margin:10px;
  }

  .course-title{
    color: white;
    font-size: 20px;
  }
  
  p > button {
    background-color: #000 !important;
    border-radius: 50px !important;
    border: 1px solid #fff !important;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
  

  .form-label {
    color: white;
  }

  @media (max-width: 390px) {
    

  }
  