body {
    background: black;
    width: 100%;
  }
  
  .container {
    margin-top: 50px;
  }

  .student-image{
    display: flex;
    
    align-items: center;
    flex-direction: column;
  }
  .student-pic {
    border-radius: 50%;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 250px; 
    height: 250px; 
    overflow: hidden;
  
  }
  .student-pic img {
    width: 100%; 
    height: auto; 
   
    
  }
  
  .student-tag {
    text-align: center;
    background: skyblue;
    border-radius: 25px;
    width:250px;
    height:40px;
    font-size: 25px;
  }

  h3 {
    color: white;
    font-size: 30px;
    margin:10px;
  }

  .course-title{
    color: white;
    font-size: 20px;
    margin:10px;
  }
  

  .form-label {
    color: white;
  }

  .whole-remark {
    display: flex;
    justify-content: space-between;
  }
  .studentRemark {
    width:48%;
  }
  .white-holder {
    background-color: white;
    color:black;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 500px;
    height:200px;
    padding:20px;

  }
  .black-holder {
    background-color: #666;
    color:white;
    
    border-radius: 20px;
    margin-bottom: 20px;
    width: 500px;
    height:200px;
    padding:30px;

  }
  .whole-remark {
    border-top: #666 solid 1px; 
  }
  @media (max-width: 414) {
    
  
  }
  