body {
  background: black;
  width: 100%;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.teacherSettings {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  margin-right: 20px;
}

.teacherPicProfileTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacherPic {
  /* max-width: 60px;
  max-height: 60px; */
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.profileTag {
  background: #30a57b;
  border-radius: 25px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  width: 50%;
  height: 50%;
}

img :not(.navbar-brand) {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.teacherInfo > h3 {
  color: #fff;
  padding: 10px;
  text-align: center;
}

p > button {
  background-color: #000 !important;
  border-radius: 50px !important;
  border: 1px solid #fff !important;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

#updatePersonalInfoTitle {
  padding: 10px 0px 10px 0px;
}

.previewBtn > a {
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: #888888;
  text-decoration: none;
  background-clip: content-box;
  border-bottom: 2px solid #888888;
}

.previewBtn {
  padding-bottom: 10px;
}

a:hover,
a:focus,
a:active {
  color: #30a57b;
  text-decoration: none;
  cursor: pointer;
}

form > .btn {
  background-color: #000 !important;
  border-radius: 50px !important;
  border: 1px solid #fff !important;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.teacherProfileSettings,
.userComment {
  padding-bottom: 30px;
}

@media screen and (max-width: 414px) {
  img :not(.navbar-brand) {
    width: 200px;
    height: 200px;
  }
  .teacherInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* padding: 0px;
    margin: 0px; */
    width: 100%;
    height: 100%;
  }

  .teacherSettings {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    /* top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-right: 0px; */
  }
}
