/* This file contains the css code for the teacher profile page */

body {
  background: black;
  width: 100%;
}

#teacherContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.teacherHeader {
  align-items: center;
  padding-top: 5px;
  margin-right: 20px;
}

.teacherPic {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profileTag {
  background: #30a57b;
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.profileTag > a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.profileTag > a:hover,
a:focus,
a:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.teacherPic > div > img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-bottom: 1px solid #333333;
}

.teacherInfo > h1 {
  color: #fff;
  padding-bottom: 20px;
}

.teacherStat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 10px 0px;
  color: #fff;
}

.teacherStat > div {
  margin-right: 24px;
}

.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconClicked {
  padding-left: 5px;
  padding-right: 5px;
  color: #30a57b;
  font-size: 18px;
}

.teacherPriceContact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background: #000;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.teacherPrice {
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#priceText {
  font-weight: 700;
  font-size: 38px;
  line-height: 70px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#durationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #888888;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 3px;
}

#contactBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 10px;
  width: fit-content;
  height: fit-content;
  background: #30a57b;
  border-radius: 25px;
  font-size: 24px;
}

#contactBtn > a {
  text-decoration: none;
  color: #fff;
}

#contactBtn > a:hover,
a:focus,
a:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.teacherPriceContact > .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal > .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal > .modal-content > p {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 24px;
}

/* The Close Button */
.modal-content > .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

.modal-content > .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selfIntro {
  color: #888888;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
  font-size: 24px;
}

.selfIntro h3 {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0px 20px 0px;
}

p > button {
  background-color: #000 !important;
  border-radius: 50px !important;
  border: 1px solid #fff !important;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .teacherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  .teacherHeader {
    align-items: center;
    padding-top: 5px;
    margin-right: 5px;
    justify-content: center;
  }

  .teacherPic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .teacherInfo > h1 {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 0px;
    margin: 0px;
  }
  .profileTag {
    padding: 10px 0px 10px 0px;
  }
  .iconClicked {
    padding: 0px 0px 0px 20px;
    color: #30a57b;
    font-size: 24px;
    text-align: center;
    align-items: center;
  }

  .teacherPriceContact {
    width: 100%;
    height: 100%;
    position: static;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: #000;
    margin-bottom: 10px;
  }

  .teacherPrice {
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
  }

  #contactBtn {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  img :not(.navbar-brand) {
    width: 200px;
    height: 200px;
  }

  .profileTag {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 5px 0px 5px 0px;
  }
  .selfIntro h3 {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    margin: 0px 10px 20px 0px;
  }
}

@media (min-width: 414px) and (max-width: 900px) {
  .teacherPrice {
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  #durationText {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #888888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3px;
  }
}
