body {
  background: black;
  width: 100%;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.teacherHeader {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  margin-right: 20px;
}

.teacherPicProfileTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.teacherPic {
  /* max-width: 60px;
  max-height: 60px; */
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.profileTag {
  background: #30a57b;
  border-radius: 25px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  width: 50%;
  height: 50%;
}

.profileTag > a {
  text-decoration: none;
  color: #000;
}

.profileTag > a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.teacherInfo > h3 {
  color: #fff;
  padding-bottom: 20px;
  width: fit-content;
}

.teacherStat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
  color: #fff;
}

.teacherStat > div {
  margin-right: 24px;
}

.fire,
.comment,
.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-right: 5px;
  color: #30a57b;
}

a {
  color: #888888;
  text-decoration: none;
  background-clip: content-box;
}

a:hover,
a:focus,
a:active {
  color: #30a57b;
  text-decoration: none;
  cursor: pointer;
}

#commentTitle h3 {
  color: #fff;
  font-weight: 600;
  padding: 50px 0px 20px 0px;
  font-size: 32px;
}

.commentContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #888888;
  margin-left: 10px;
}

.commentContent > .commentName {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.commentPic {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.commentUserInfo {
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.commentDate {
  font-size: 12px;
}

.commentText {
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  padding-bottom: 10px;
}

p > button {
  background-color: #000 !important;
  border-radius: 50px !important;
  border: 1px solid #fff !important;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

#updatePersonalInfoTitle {
  padding: 10px 0px 10px 0px;
}

@media screen and (max-width: 380px) {
  .teacherInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  .teacherHeader {
    display: block;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-right: 0px;
  }

  /* .teacherPic {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .teacherPriceContact {
    width: 100%;
    height: 100%;
    position: static;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: #000;
    margin: 0px;
  }

  .teacherPrice {
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
  }

  .teacherStat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}

.teacherProfileSettings {
  padding-bottom: 30px;
}
