body {
  background: black;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 50px;
}

.teacherHeader {
  background: #000;
  align-items: center;
}

.teacherPic {
  /* max-width: 60px;
  max-height: 60px; */
  border-radius: 50%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-bottom: 1px solid #333333;
}

.teacherInfo > h1 {
  color: #fff;
  padding-bottom: 20px;
}

.teacherStat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  color: #fff;
}

.teacherStat > div {
  margin-right: 24px;
}

.fire,
.comment,
.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-right: 5px;
  color: #30a57b;
}

.teacherPriceContact {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  background: #000;
  width: 323px;
  height: 130px;
}

.teacherPrice {
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  width: 323px;
  height: 130px;
}

#priceText {
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#durationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #888888;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 3px;
}

#contactText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 50px 15px;

  width: 323px;
  height: 49px;
  background: #30a57b;
  border-radius: 25px;
}

.selfIntro {
  color: #888888;
}

.selfIntro h3 {
  color: #fff;
  font-weight: 600;
  padding: 30px 0px 20px 0px;
}

.sns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  color: #888888;
  font-size: 30px;
  text-align: right;
}

.sns > .sns-icon {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

a {
  color: #888888;
  text-decoration: none;
  background-clip: content-box;
}

a:hover,
a:focus,
a:active {
  color: #30a57b;
  text-decoration: none;
  cursor: pointer;
}
